In [ ]:
import pandas as pd

In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/MyDrive/Colab Notebooks/data/'

In [ ]:
# Load the CSV data into pandas DataFrames
ol_data = pd.read_csv(path + "title_ratings.csv", on_bad_lines='skip')
nyt_data = pd.read_csv(path + "books.csv", header=None)

In [ ]:
pd.reset_option("display.max_rows")

In [ ]:
# # Set the display option to show all rows
# pd.set_option("display.max_rows", None)

In [ ]:
# Convert titles to lowercase and remove additional characters like parentheses
ol_data["cleaned_title"] = ol_data["title"].str.lower().str.replace(r'[\(\)]', '').str.strip()
nyt_data["cleaned_title"] = nyt_data[1].str.lower().str.replace(r'[\(\)]', '').str.strip()

<ipython-input-46-69fa9e0f0590>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  ol_data["cleaned_title"] = ol_data["title"].str.lower().str.replace(r'[\(\)]', '').str.strip()
<ipython-input-46-69fa9e0f0590>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  nyt_data["cleaned_title"] = nyt_data[1].str.lower().str.replace(r'[\(\)]', '').str.strip()

In [ ]:
# Mark books in ol_data as New York Times bestsellers if their cleaned title is in nyt_data
ol_data["nyt_bestseller"] = ol_data["cleaned_title"].isin(nyt_data["cleaned_title"]).astype(int)

In [ ]:
# Create a new DataFrame with cleaned titles and nyt_bestseller column
new_df = ol_data[["cleaned_title", "average_rating", "nyt_bestseller"]]

In [ ]:
nyt_bestseller_df = new_df.loc[new_df["nyt_bestseller"] == 1]

In [ ]:
print(nyt_bestseller_df)

                              cleaned_title  average_rating  nyt_bestseller
12                                   amulet             5.0               1
49                         life after death             5.0               1
57                       from the ground up             5.0               1
102                becoming a good creature             4.0               1
361                   what happened to you?             5.0               1
...                                     ...             ...             ...
133627  popularmmos presents enter the mine             5.0               1
133726                                 hoax             5.0               1
134126                 written in the stars             5.0               1
134207                        rhythm of war             5.0               1
134416              a tale of witchcraft...             5.0               1

[1569 rows x 3 columns]

In [ ]:
# Count the occurrences of nyt_bestseller with value 1
nyt_bestseller_count = (new_df["nyt_bestseller"] == 1).sum()
print(nyt_bestseller_count)

1569

In [53]:

# Filter the DataFrame to show only rows where "nyt_bestseller" is equal to 1 (New York Times bestsellers)
bestseller_df = ol_data[ol_data["nyt_bestseller"] == 1]

# Count how many ratings of 4 and 5 for New York Times bestsellers
count_4 = (bestseller_df["average_rating"] == 4).sum()
count_5 = (bestseller_df["average_rating"] == 5).sum()

# Display the counts
print("Number of ratings 4 for New York Times bestsellers:", count_4)
print("Number of ratings 5 for New York Times bestsellers:", count_5)

Number of ratings 4 for New York Times bestsellers: 611
Number of ratings 5 for New York Times bestsellers: 958