In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, get_json_object, collect_list
import pandas as pd

In [2]:
spark = SparkSession.builder \
    .appName("ol_ratings") \
    .getOrCreate()

23/08/05 09:18:23 WARN Utils: Your hostname, Stephanies-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.4.152 instead (on interface en0)
23/08/05 09:18:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/05 09:18:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/05 09:18:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
file_path = "./ol_dump_ratings_2023-07-31.txt"
ol_ratings_df = spark.read.text(file_path)
ol_ratings_df.show(truncate=False)

+-----------------------------------------------------+
|value                                                |
+-----------------------------------------------------+
|/works/OL17882343W\t\t3\t2018-06-20                  |
|/works/OL1629179W\t/books/OL22981670M\t5\t2018-06-20 |
|/works/OL4226036W\t/books/OL10690412M\t5\t2018-06-20 |
|/works/OL5264255W\t/books/OL2719185M\t5\t2018-06-20  |
|/works/OL1681415W\t/books/OL2582724M\t5\t2018-06-20  |
|/works/OL1837390W\t\t5\t2018-06-20                   |
|/works/OL1853596W\t/books/OL2331075M\t2\t2018-06-20  |
|/works/OL9468629W\t/books/OL10694710M\t5\t2022-09-27 |
|/works/OL15197048W\t\t5\t2018-06-19                  |
|/works/OL465360W\t/books/OL26427670M\t5\t2018-06-20  |
|/works/OL18342W\t/books/OL26445972M\t4\t2018-06-20   |
|/works/OL17101519W\t\t5\t2018-06-20                  |
|/works/OL26500W\t/books/OL7153895M\t5\t2018-05-05    |
|/works/OL1089321W\t\t5\t2018-05-05                   |
|/works/OL3754816W\t/books/OL17387729M\t3\t2018-06-20 |
|/works/OL3512837W\t\t5\t2018-06-20                   |
|/works/OL21694147W\t/books/OL33825158M\t5\t2022-09-27|
|/works/OL1821254W\t\t5\t2018-06-20                   |
|/works/OL4278294W\t/books/OL10241483M\t3\t2018-06-20 |
|/works/OL15836355W\t\t1\t2018-06-20                  |
+-----------------------------------------------------+
only showing top 20 rows

In [4]:

ratings_data = []  # List to store the data

# Read the data from the text file line by line, skip missing values
with open(file_path, 'r') as file:
    for line in file:
        columns = line.strip().split('\t')
        if len(columns) < 4:
            columns.insert(1, '')
        ratings_data.append(columns)

# Create a pandas DataFrame from the list of data
df = pd.DataFrame(ratings_data)

# Select the desired columns (first, second-to-last, and last)
ratings_df = df.iloc[:, [0, -2, -1]]

# Rename the columns for clarity
ratings_df.columns = ['work_key', 'rating', 'date']

# Display the new dataframe
display(ratings_df)

                  work_key rating        date
0       /works/OL17882343W      3  2018-06-20
1        /works/OL1629179W      5  2018-06-20
2        /works/OL4226036W      5  2018-06-20
3        /works/OL5264255W      5  2018-06-20
4        /works/OL1681415W      5  2018-06-20
...                    ...    ...         ...
394148    /works/OL461939W      3  2022-07-30
394149  /works/OL16247363W      3  2022-07-30
394150   /works/OL8299102W      4  2022-07-30
394151  /works/OL15191772W      4  2022-07-30
394152  /works/OL16238006W      5  2022-07-30

[394153 rows x 3 columns]

In [5]:
# ratings_df.to_csv('ratings_data.csv', index=False)